.info {
    margin: 5px;
    border: 1px dashed gray;
    border-radius: 5px;
    width: 300px;
}
img {
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 100px;
}
.name {
    font-size: large;
}
.company {
   font-size: small;
}